# ignorando ambiente virtual
.venv

# Ignorando pycache
transcritor_video/__pycache__

# Ignorando saída de testes
resumo.md

# Ignorando a API da openai
api_key.txt

# Ignorando os arquivos de áudio de teste
audio

audio.wav